.main-foot

  
.footer-wrap
  display: flex
  padding-left: 260px
  .left-part
    width: 35%
    display: flex
    justify-content: center
  .right-part
    width: 65%
    background-color: #000

.ishome
  .footer-wrap
    .right-part
      display: flex
      align-items: center
      justify-content: center
      padding: 60px 0 90px
    .left-part
      align-items: center


.foot-soc
  color: #c4c4c4
  font-size: 26px
  margin-right: 60px
  +mt(.3s)
  &:last-child
    margin-right: 0
  .svg
    width: 30px
    height: auto
    margin-left: 20px
    fill: #c4c4c4
    +mt(.3s)
    position: relative
    top: 6px
  &:hover
    color: #fff
    .svg
      fill: #fff

.copyright
  font-size: 18px
  margin-left: 20px

.isnohome
  .footer-wrap
    .right-part
      padding: 30px 80px 55px 96px
    .left-part
      padding-top: 39px
      img
        height: 67px

.footer-contacts
  margin-bottom: 35px
  a
    font-size: 24px
    +mt(.3s)
    color: #737373
    display: inline-block
    margin-right: 30px
    &:hover
      color: #fff
    .svg
      margin-right: 20px
      fill: #737373
      width: 30px
      height: auto
      position: relative
      top: 4px
    &:nth-child(2)
      font-weight: 700