@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: #000
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.2
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent-grey
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important

.container
  display: block
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: 1580px
// ======= END TEMPLATE STYLES =======
.container
  &.right
    margin-left: auto
    margin-right: 80px

section
  padding-top: 120px
  +bg-cover

.section-title
  font-size: 64px
  font-weight: 700
  margin-bottom: 0
  color: $accent-dark
  position: relative
  &:after
    content: ''
    position: absolute
    width: 213px
    height: 10px
    background-color: $accent-dark
    bottom: -30px
    left: 25px
  span
    display: block
    font-size: 24px
    line-height: 28px
    font-weight: normal
    color: $text
    padding-left: 25px
    margin-top: 8px

//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form, .video-popup, .popup-privacy
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form, &.mfp-ready .video-popup, &.mfp-ready .popup-privacy
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form, &.mfp-removing .video-popup, &.mfp-removing .popup-privacy
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .7
  &.mfp-removing.mfp-bg
    opacity: 0

.mfp-close-btn-in .mfp-close
  color: #fff

.slider-prev, .slider-next
  height: 49px
  width: 55px
  background-color: #fff
  background-image: url('../img/icons/arrow-black.svg')
  background-size: 8px 14px
  background-position: center center
  background-repeat: no-repeat
  border: none
  box-shadow: none
  cursor: pointer
  +mt(.3s)
  &:hover
    background-color: $accent-dark
    background-image: url('../img/icons/arrow-white.svg')

.slider-prev
  transform: rotate(180deg)

.details
  display: inline-block
  font-size: 18px
  background-color: #fff
  color: $accent-dark
  padding: 14px 33px 14px 54px
  position: relative
  +mt(.3s)
  &:before
    content: ''
    position: absolute
    width: 20px
    height: 100%
    background-color: #fff
    opacity: .5
    +mt(.3s)
    top: 0
    left: -20px
  &:hover
    color: $accent-dark
    //background-color: $accent-lightgrey
    //color: #fff
    &:before
      left: 0
      //background-color: $accent-lightgrey
      opacity: 1



//timelaps
.timelaps
  position: fixed
  left: 0
  top: 0
  +mt(.3s)
  width: 130px
  height: 100vh
  background-color: #fff
  z-index: 999
  text-align: center
  padding: 130px 15px 50px

.timelaps-socials
  position: absolute
  bottom: 40px
  width: calc(100% - 30px)
  opacity: 1
  +mt(.5s)
  &.off
    opacity: 0
    pointer-events: none
  .soc-item
    display: block
    margin-bottom: 15px
    .svg
      display: block
      margin-left: auto
      margin-right: auto
      +mt(.3s)
      fill: #000
      width: 30px
      height: auto
    &:hover
      .svg
        fill: $accent-lightgrey

#section-number
  font-size: 18px
  position: relative
  &:after
    content: ''
    position: absolute
    background-color: $text
    height: 120px
    width: 1px
    top: calc(100% + 8px)
    left: 50%

.timelaps-scrolling
  position: absolute
  bottom: 50px
  width: calc(100% - 30px)
  +mt(.5s)
  &.off
    opacity: 0
    pointer-events: none

#scrollup
  margin-bottom: 60px
  cursor: pointer

#scrolldown
  cursor: pointer
  .svg
    width: 19px
    height: auto

//end timelaps

