@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1700px)

  .s-projects
    .section-title
      font-size: 44px
      &:after
        height: 6px
        bottom: -10px

  .project-item
    &-top
      flex-direction: column
    &-title
      width: 100%
      margin-bottom: 10px
      font-size: 17px
    &-info
      width: 100%
      text-align: left
      span
        display: inline-block

  .project-slide
    &-img
      width: 50%
    &-content
      width: 50%
    &-title
      font-size: 22px
    &-chars
      .char-value
        font-size: 14px
        span
          font-size: 18px
      .char-desc
        font-size: 12px

  .projects-slider
    .intro-next
      right: 50%
    .intro-prev
      right: calc(50% + 50px)

  .container, .container.right
    margin-left: 260px
    max-width: calc(100% - 340px)

  .main-head
    margin-left: 400px
    width: calc(100% - 400px)

  .head-name
    padding-left: 50px

@media screen and (max-width: 1600px)


  .projects-all-wrap
    .half-part
      width: calc(50% - 20px)

  .project-item
    width: calc(50% - 15px)
    margin-bottom: 30px

  .head-name
    font-size: 22px
    padding-left: 30px

@media screen and (max-width: 1500px)
  .main-head
    margin-left: 250px
    width: calc(100% - 250px)
    .logo
      left: -174px
      img
        width: 90px

@media (max-width: 1400px)

  .s-projects
    .section-title
      position: relative
      margin-bottom: 110px
      .btn
        position: absolute
        float: none
        top: 80px
        left: 0

  .projects-slider
    .intro-prev, .intro-next
      bottom: auto
      top: 200px
    .intro-next
      right: 0
    .intro-prev
      right: 50px

  .project-slide
    flex-direction: column
    &-img
      width: 100%
      height: 240px
    &-content
      width: 100%

  section
    padding-top: 90px

  .section-title
    font-size: 55px
    &:after
      height: 7px
      bottom: -25px

  .service-item
    width: calc(33.333% - 20px)
    &-title
      font-size: 24px
      margin-bottom: 15px
    &-desc
      padding-left: 15px
      padding-right: 15px
      font-size: 16px

  .services-bottomline
    .txt-item
      margin-right: 30px
      .svg
        width: 90px
        margin-right: 15px
      .content
        width: calc(100% - 105px)


  .container, .container.right
    margin-left: 180px
    max-width: calc(100% - 280px)

  .main-mnu
    padding: 40px 20px
    ul
      align-items: center

  .head-contacts
    padding: 35px 30px
    .call
      font-size: 16px
  .head-name
    padding: 35px 20px

  .intro-slide
    height: calc(100vh - 109px)

// ≥1200px
+media-breakpoint-down(lg)

  .project-item
    width: 100%
    &-img
      height: 300px

  .timelaps
    display: none

  .service-item-img
    height: 180px

  .container, .container.right
    margin-left: 30px
    margin-right: 30px
    max-width: calc(100% - 60px)

  .intro-slider
    .intro-prev, .intro-next
      bottom: auto
      top: 451px
    .intro-next
      right: 0
    .intro-prev
      right: 55px

  .intro-count
    bottom: auto
    top: 530px

  .progressBar
    bottom: auto
    top: 45px


  .intro-slide
    height: auto
    min-height: inherit
    background-image: none!important
    .mobile-content
      display: block
      +bg-cover
      height: 500px
      position: relative
      span
        position: absolute
        left: 30px
        bottom: 30px
        font-size: 29px
        line-height: 34px
        font-weight: 700
        color: #fff
    &-visual
      position: relative
      right: 0
      bottom: 0
      width: 100%
      margin-bottom: 130px
      .left
        width: calc(100% - 250px)
    &-desc
      right: 0
      bottom: 0
      position: relative
      width: 100%
      padding-top: 200px
    &-videolink
      right: auto
      left: 30px
      width: 500px
      height: 300px
      bottom: 115px

  .head-name
    display: none

  .main-mnu
    flex-grow: 2

// ≥992px
+media-breakpoint-down(md)

  .project-item
    &-img
      height: 220px

  .services-bottomline
    flex-wrap: wrap
    justify-content: space-between
    .txt-item
      width: calc(50% - 15px)
      margin-right: 0
      margin-bottom: 30px
    .buttons-item
      width: 100%
      text-align: center
      margin-top: 40px
      .btn
        width: 260px
        margin-left: auto
        margin-right: auto


  .section-title
    font-size: 40px
    &:after
      left: 0
      bottom: -20px
      height: 5px

  .services-wrap
    margin-top: 60px
    flex-wrap: wrap

  .service-item
    width: 100%
    margin-bottom: 30px
    &-img
      height: 300px
    &-desc
      padding-left: 40px
      padding-right: 40px

  .mobile-mnu-container
    display: block

  .main-head
    width: 100%
    margin-left: 0

  .main-head
    .logo
      padding: 22px 22px 11px
      left: 30px
      img
        width: 80px

  .head-contacts, .main-mnu
    display: none

// ≥768px
+media-breakpoint-down(sm)

  .project-item
    &-img
      height: 300px
    &-top
      flex-direction: row
    &-title
      width: 60%
    &-info
      width: 40%
      text-align: right
      span
        display: block

  .project-items-wrap
    display: none
    &.mobile-content
      display: block

  .projects-all-wrap
    flex-wrap: wrap
    .half-part
      width: 100%

  .s-projects
    padding-top: 60px
    .section-title
      margin-bottom: 60px
      .btn
        display: none
    .btn-wrap.mobile-content
      display: block
      text-align: center
      margin-top: 50px

  .project-slide
    &-img
      height: 300px

  .projects-slider
    .intro-prev, .intro-next
      top: 260px

  .services-bottomline
    .txt-item
      width: 100%


// ≥480px
+media-breakpoint-down(xs)

  .s-projects
    .section-title
      font-size: 36px
      padding-left: 30px
      &:after
        width: 160px
        left: 55px
    .container
      margin-left: 0
      margin-right: 0
      max-width: 100%
    .btn-wrap
      padding-left: 30px
      padding-right: 30px
      .btn
        width: 100%

  .project-items-wrap
    padding-left: 30px
    padding-right: 30px

  .project-item
    margin-bottom: 40px
    &-title
      font-size: 16px
    &-info
      font-size: 10px
    &-top
      margin-bottom: 18px
    &-img
      height: 180px


  .details
    font-size: 14px
    padding: 12px 18px
    &:before
      width: 14px
      left: -14px


  .services-bottomline
    margin-top: 20px
    .txt-item
      .svg
        width: 65px
      .content
        width: calc(100% - 87px)
        font-size: 12px
    .buttons-item
      margin-top: 0
      .btn
        width: 100%

  .service-item
    margin-bottom: 40px
    &-title
      font-size: 20px
      margin-bottom: 30px
      line-height: 1.2
    &-img
      height: 130px
    &-desc
      font-size: 12px
      padding: 20px 20px 25px

  .section-title
    font-size: 36px
    &:after
      width: 160px
      left: 25px

  .s-services
    padding-bottom: 0

  section
    padding-top: 60px

  .intro-slide
    .mobile-content
      height: 400px
      span
        padding-right: 130px
    &-visual
      padding-left: 30px
      margin-bottom: 40px
      .left
        width: 100%
        font-size: 12px
      .title
        width: calc(100% - 150px)
        font-size: 18px
    &-videolink
      width: 210px
      height: 135px
      bottom: 90px
    &-desc
      font-size: 12px
      padding-top: 110px
      padding-left: 30px
      padding-right: 30px

  .intro-count
    top: 420px
    .current
      font-size: 24px




  .intro-slider
    .intro-prev, .intro-next
      top: 365px
      width: 40px
      height: 35px
    .intro-prev
      right: 40px
    .progressBar
      width: 85px
      top: 38px
      right: 75px

  .mobile-mnu-container
    .name
      font-size: 14px

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    width: 20px
    height: 2px
    border-radius: 2px

  .hamburger--elastic
    .hamburger-inner:before
      top: 6px
    .hamburger-inner:after
      top: 12px

  .hamburger-box
    height: 18px
    width: 20px
  .hamburger
    padding: 0
    padding-left: 10px



/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
